input{
 padding:1rem 3rem 1rem 2rem;
 margin-right: 1rem;
 border-radius:.5rem;
}

button{
 padding: 1rem 2rem;
 border-radius: 1rem;
 transition: .5s ease-in-out;
 cursor: pointer;
}

button:active{
 transform: scale(.9);
}

li{
 background-color:rgb(223, 209, 209);
 margin:1rem 1rem;
 padding:1rem;
 border-radius:1rem;
}
